body{
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 15px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #79ff8f; /* El color del fondo de la página web */
    color: #1f1f1f; /* El color del texto*/ 
    font-weight: 500;
}
h1 {
    color: hsl(236, 100%, 33%); /* El color de la cabecera */
    font-size: 24px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}
h2 {
    color: #a80000; /* El color de la cabecera */
    font-size: 20px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}
img{
    border-radius: 20%;
}